#title-section {
  /* background-color: red; */
  text-align: center;
  margin: 50px 0px;
  color: green;
}

#input-section,
#filter-section {
  margin-bottom: 50px;
}

#toDoName,
#toDoDescription {
  outline: 1px solid rgb(92, 246, 92);
}

#btn_action {
  width: 150px;
}

#filter {
  display: flex;
  justify-content: flex-end;
}

.button-container {
  display: flex;
  justify-content: center;
}

.card {
  background-color: rgb(197, 235, 197);
  border: none;
  box-shadow: 5px 10px 18px rgb(126, 181, 126);
  margin-bottom: 30px;
}

.btn {
  margin: 10px;
  width: 100px;
}

#task-filter {
  background-color: rgb(209, 86, 86);
  color: white;
}

option {
  background-color: white;
  color: black;
}

.card-text {
  margin-top: 20px;
}
/* 
select[value="Completed"] {
  background-color: green;
}
select[value="Not Completed"] {
  background-color: red;
} */

/* select[data-chosen="Completed"] {
  background-color: green;
}

select[data-chosen="Not Completed"] {
  background-color: red;
}

select {
  background-color: red;
} */

/* select.Completed,
option[value="Completed"] {
  background: rgb(169, 206, 124);
} */
/* select.Not Completed,
option[value="Not Completed"] {
  background: rgb(226, 172, 131);
} */
